<%= @head %>
<h1>Desarrollo Ruby-Gosu</h1>
<p>Rol Diseñador + programador:</p>
<ul>
<li>Programación y Scripting: Ruby</li>
<li>Gráficos, entrada y sonido: Gosu</li>
<li>Configuraciones: YAML</li>
<li>Matemáticas y Física: Ruby Chipmunk</li>
</ul>
<p>Rol artista: <a href="http://opengameart.org">opengameart.org</a></p>
