<%= @head %>
<h1>sysadmin-game</h1>
<ul>
<li>Reproducir la realidad de los alumnos</li>
<li>Tener un "mundo" que explorar dentro del juego</li>
<li>Se ganan puntos al ir logrando objetivos</li>
<li>El objetivo del jugador superar cada fase</li>
<li>Ranking de puntuaciones</li>
</ul>

<p>Hacer videojuegos es costoso</p>
<iframe width="420" height="315" src="//www.youtube.com/embed/F08BiheX_nk" frameborder="0" allowfullscreen></iframe>
