<%= @head %>
<h1>Gosu</h1>
<ul>
<li>Gosu es la librería que nos proporciona Gráficos, Input, y Sonidos.</li>
<br>
<li>Instalación en Linux: <a href="https://github.com/jlnr/gosu/wiki/Getting-Started-on-Linux">https://github.com/jlnr/gosu/wiki/Getting-Started-on-Linux</a></li>
<br>
<li>Documentación en <a href="http://www.libgosu.org/rdoc/Gosu.html">http://www.libgosu.org/rdoc/Gosu.html</a></li>
</ul>
