<%= @head %>
<h1>Ruby</h1>
<p>"irb" es el intérprete interactivo de Ruby.
<p>Método para saludar:</p>
<pre>
def saludar_a(nombre)
	puts "¡Hola #{nombre}!"
end

saludar_a "Obiwan"
</pre>

<p>Define la clase Persona y crea un objeto:</p>
<pre>
class Persona
	attr_accessor :nombre, :apellidos
end

p=Persona.new
p.nombre='Luke'
p.apellidos='Skywalker'
</pre>
<p>Imprimie en pantalla todos los elementos del array:</p>
<pre>
a=[16, 11, 19, 70]
a.each { |i| puts i }
</pre>
