<%= @head %>
<h1>Síntomas del problema</h1>
<ul>
<li>Tiempo, DRY</li>
<li>Gamificación</li>
</ul>

<h1>Objetivo</h1>
<ul>
<li>Herramientas para ayudar al profesor.</li>
</ul>

<h1>Requisitos</h1>
<ul>
<li>Conocer las máquinas virtual</li>
<li>Conocer cómo funciona nuestra máquina.</li>
</ul>
