<%= @head %>
<h1>Game Engine</h1>
<ul>
<li>Programación C++. Scripting (LUA)</li>
<li>Gráficos (OpenGL)</li>
<li>Entrada (Teclado, joysticks, etc.)</li>
<li>Recursos y las configuraciones (XML)</li>
<li>Sonidos</li>
<li>Matemáticas y Física</li>
<li>Redes</li>
</ul>
