<%= @head %> 
<h1>Ejemplos - Ferretería</h1>
<ul>
<li><a href="../code/example01.rb">example01.rb</a>: Bucle del juego, gráficos</li>
<li><a href="../code/example02.rb">example02.rb</a>: Actores, Update con Timestep, simular colisiones</li>
<li><a href="../code/example03.rb">example03.rb</a>, <a href="../code/example03.yaml">example03.yaml</a>: Ficheros de configuración y más actores</li>
<li><a href="../code/example04.rb">example04.rb</a>, <a href="../code/example04.yaml">example04.yaml</a>: Actor Jugador, sonidos</li>
</ul>
