<%= @head %>
<h1>Roles</h1>
<ul>
<li>Artista: Creaci&oacute;n de gr&aacute;ficos, sonidos, etc.</li>
<li>Programador</li>
<li>Diseñador: Define c&oacute;mo ser&aacute; el juego.</li>
</ul>
<br>
<img width="500" height="300" src="http://files.g4tv.com/ImageDb3/283015_S/G4U-The-Singapore-MIT-GAMBIT-Video-Game-Program-Wants-To-Teach-You-Game-Design.jpg">

