<%= @head %>
<h1>Desarrollo de Videojuegos con OpenSource</h1>

<p><i>¿Cómo empezar a crear videojuegos desde ya, uno mismo, usando herramientas 
OpenSource (Ruby y Gosu)… y no "morir" (sufrir) en el intento?<i></p>

<img width='400' height='300' src="/images/Space-Invaders.png" border='1'>
