<%= @head %>
<h1>Plan</h1>
<ul>
<li>Objetivos: OpenSource, y desarrollo fácil.</li>
<li>Requisitos: conocimientos de programación.</li>
</ul>

<ol>
<li>Exposición</li>
<li>Ejemplos</li>
<li>Taller</li>
</ol>

<img width="400" height="300" src="/images/ghouls-n-ghosts.png">
