<%= @head %>

<h1>Plan</h1>
<ol>
<li>Advertencias</li>
<li>Estado actual</li>
<li>Situación ideal</li>
<li>Aplicación real</li>
<li>Ejemplos</li>
</ol>

<img width="400" height="300" src="/images/laberinto.jpeg" border="0">
