<%= @head %>

<h1>Advertencias</h1>
<ul>
<li>Pedagogía ---</li>
<li>Informática +++</li>
<li>Preguntas =&gt; Infinito y en todo momento</li>
<li>Respuestas ???</li>
</ul>
<br>
<img src="/images/advertencias.png" border="0">

