<%= @head %>
<h1>Problema: Tiempo</h1>
<br>
<img src="/images/tiempo.jpeg" border="0">
<ul>
<li>Las actividades son necesarias</li>
<li>Las correcciones son repetitivas y consumen mucho tiempo</li>
<li>Los profesores necesitan tiempo</li>
<li>Diseñar actividades que sirvan para enseñar, evaluar y entretener requiere tiempo</li>
</ul>
