<%= @head %>
<h1>Industria</h1>
<ul>
<li><a href="http://www.iclaves.es/2014/05/libro-blanco-del-desarrollo-espanol-de-videojuegos-2014/">La industria española de producción de videojuegos aumentará su facturación un 130% en los próximos tres años</a></li>
<li><a href="http://www.dev.org.es/images/stories/docs/LibroBlancoDEV%20alta_compr.pdf">Libro Blanco del desarrollo Español de Videojuegos</a></li>
<li>Cuesta formar a un profesional (<a href="http://barrapunto.com/articles/14/07/11/1459237.shtml">Libro "Desarrollo de Videojuegos: Un Enfoque Práctico"</a>)</li>
</ul>
<br>
<img width="700" height="300" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/t1.0-9/1391867_10151696496792607_754112381_n.jpg">
