<%= @head %>
<h1>Presentaci&oacute;n</h1>
<ul>
<li>David Vargas</li>
<li><b>Twitter</b>: @dvarrui</li>
<li><b>HashTag</b>: #chapi16, #sysadmingame</li>
<li><b>Email</b>: dvarrui@openmailbox.org</li>
<li><b>GitHub</b>: https://github.com/dvarrui/my-talks</li>
</u>
<br>
<img src="/images/logo-iespuertodelacruz.png" border='0'><br>
