<%= @head %>
<h1>Trabajar en equipo</h1>
<ul>
<li>Inglés
<li>Control de versiones (GIT)</li>
<li>Repositorios: GitHub, BitBucket, etc.
<li>Ejemplo: https://github.com/dvarrui/tt-talks.git</li>
</ul>

<img width="500" height="300" src="http://t2.gstatic.com/images?q=tbn:ANd9GcSKR0xtRsFpK-ZNgfYkopWjklBx9kYulLJF4-R6tHEyYGVEZHvwcA">

