<%= @head %> 
<h1>Ejemplos - Invaders</h1>
<ul>
<li><a href="../code/example05.rb">example05.rb</a>: Bucle del juego, gráficos</li>
<li><a href="../code/example06.rb">example06.rb</a>: Actores, Update con Timestep</li>
<li><a href="../code/example07.rb">example07.rb</a>: Estado de los actores</li>
<li><a href="../code/example08.rb">example08.rb</a>, <a href="../code/example08.yaml">example08.yaml</a>: Ficheros de configuración y más actores</li>
<li><a href="../code/example09.rb">example09.rb</a>, <a href="../code/example09.yaml">example09.yaml</a>: Actor Jugador y misil</li>
<li><a href="../code/example10.rb">example10.rb</a>, <a href="../code/example10.yaml">example10.yaml</a>: Detección de colisiones, sonidos y mostrar puntuación</li>
</ul>
